
html {
	background: url("../assets/backgroundImage.jpg") no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
button {
	cursor: pointer;
}
* {
	font-family: "Roboto Light", sans-serif;
}
.app {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 4/5;
	max-width: 90%;
	border-radius: 1rem;
	text-align: center;
	justify-content: center;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	box-shadow: 0px 10px 15px 10px rgb(0, 0 0, 15%);
	background-color: rgb(228, 228, 228, 50%);
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

#titleContainer {
	background-color: rgba(0, 0, 0, 0) !important;
	height: fit-content;
	font-size: 4rem;
}
.bikeInformationInputs {
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgb(240, 240240, 240, 20%);
	border: 1px solid rgb(0, 0, 0, 10%);
	outline: none;
	border-radius: 0.5rem;
	font-size: 2.5rem;
	margin: 1rem;
}

#submissionButton {
	background-color: rgba(255, 157, 146, 0.7);
	border: 1px solid rgb(0, 0, 0, 10%);
	outline: none;
	border-radius: 0.5rem;
	font-size: 2.5rem;
	margin: 1rem;
}
#submissionButton:hover {
	background-color: rgba(255, 157, 146, 0.85);
}
