
html {
	background: url("../assets/backgroundImage.jpg") no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
* {
	font-family: "Roboto Light", sans-serif;
}
.app {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90%;
	aspect-ratio: 4/5;
	max-width: 90%;
	border-radius: 1rem;
	text-align: center;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	box-shadow: 0px 10px 15px 10px rgb(0, 0 0, 15%);
	background-color: rgb(228, 228, 228, 50%);
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.primaryContainer {
	text-align: center;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgb(240, 240240, 240, 20%);
	border: none;
	outline: none;
	margin: 1rem;
}

#titleContainer {
	background-color: rgba(0, 0, 0, 0) !important;
	height: fit-content;
	font-size: 6rem;
}

.filterInputs {
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgb(240, 240240, 240, 20%);
	border: 1px solid rgb(0, 0, 0, 10%);
	outline: none;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	grid-column: span 1;
	width: 100%;
}
.filterDivInputs {
	width: 100%;
}
.filterDiv {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
}
#filterButton {
	cursor: pointer;
	width: 20%;
	height: 100%;
	border: none;
	font-size: 2rem;
	outline: none;
	border-radius: 0.5rem;
	background-color: rgb(117, 192, 198, 0.7);
}
#filterButton:hover {
	background-color: rgb(117, 192, 198, 0.85);
}
#dataTable {
	background-color: rgb(0, 0, 0, 0.15);
	border-radius: 1rem;
	padding: 1rem;
	border-collapse: collapse;
}
#dataTable th {
	height: 1rem;
	padding: 1rem;
}
#dataTable tr {
	padding: 5px;
}

#dataTable tr:not(:first-child):hover {
	border-bottom: 1.5px solid white;
}

.queryButtons {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
}
