
html {
	background: url("./assets/backgroundImage.jpg") no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
* {
	font-family: "Roboto Light", sans-serif;
}
.app {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 90%;
	aspect-ratio: 4/5;
	max-width: 90%;
	border-radius: 1rem;
	text-align: center;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	box-shadow: 0px 10px 15px 10px rgb(0, 0 0, 15%);
	background-color: rgb(228, 228, 228, 50%);
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.primaryContainer {
	text-align: center;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgb(240, 240240, 240, 20%);
	border: none;
	outline: none;
	margin: 1rem;
}

#titleContainer {
	background-color: rgba(0, 0, 0, 0) !important;
	height: fit-content;
	font-size: 6rem;
}
.mainButtons {
	border-radius: 2rem;
	height: 100%;
	cursor: pointer;
	font-size: 4rem;
	transition: all 0.5s ease-in-out;
}
.mainButtons:hover {
	font-size: 4.5rem;
}
#buyContainer {
	background-color: rgba(255, 157, 146, 0.7);
}
#buyContainer:hover {
	background-color: rgba(255, 157, 146, 0.85);
}
#sellContainer {
	background-color: rgb(117, 192, 198, 0.7);
}
#sellContainer:hover {
	background-color: rgb(117, 192, 198, 0.85);
}
